name: Docker Build
on: [push]
jobs:
  build:
    runs-on: ubuntu:latest
    steps:

      - name: Checkout
        uses: actions/checkout@v1

      - run: docker build -t bensmithdeveloper/github-jira-bot:${{github.ref}}

      - name: Publish to Registry
        uses: HurricanKai/Publish-Docker-Github-Action@master
        with:
          name: bensmithdeveloper/github-jira-bot
          username: ${{ secrets.DOCKER_HUB_USER }}
          password: ${{ secrets.DOCKER_HUB_PASSWORD }}
